/*documento css para estilização de conteudo*/

/* Lista de Estoque */
#estoque {
	padding:20px 0;
	/*background-color:#ddd;*/
}

.chBox {
	width:30px;height:30px;
}

.optEstoque {
	padding:10px 0;
}

.optBox > input {
	display:inline;
}

.optBox > label {
	display:inline;
}

.div-cadastro {
	width: 500px;
	height: auto;
	clear: both;
	display: block;
	border:solid 1px #ccc;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

h3 {
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	font-size: 22px;
}

.linha{
	width: 80%;
	float: left;
	margin: 0px;
	padding: 0px;

}

label{
	display: block;
	padding: 0px;
	margin-left: 10px;
	margin-top: 15px;
}

input {
	display: block;
	margin-left: 10px;
	margin-top: 3px;
	width: 50%;
	height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #4d4d4d;
 
}

.btn{
	width: 95px;
	height: 35px;
	text-align: center;
	margin: 0 auto;
	display: block;
	color:#fff;
	border:none;
	border-radius: 3px;
	background-color: #4d4d4d;
	margin-top: 30px;
	margin-bottom: 15px;
}

.btn:hover{
	cursor: pointer;
}

.div-cadastro-produto{
	width: 900px;
	height: auto;
	clear: both;
	display: block;
	border:solid 1px #ccc;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

.div-select-estoque{

	float: left;
	
}
.div-preco-estoque{
	float: left;
}

.div-preco-estoque input{
	width:100px;
	
}

.div-estoque{
	clear:left;
}

.div-cadastro-produto table{
	margin-bottom: 60px;

}

select{
	margin-left: 10px;
	margin-top: 3px;
    color: #4d4d4d;
	width: 250px;
	height: 35px;
}
select option{
	margin-top: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top:20px;
    float: left;
}

th, td {
    text-align: center;
    padding: 8px;
    height: 30px;
}

th{
	color: #808080;
	font-size: 16px;
	font-family: Arial;
}

td{
	font-family: Arial;
	color: #4d4d4d;
	font-size: 14px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}
